.links p { 
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: inline;
    margin: 1rem;
}

.container {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 2rem 0;
    background-color: #FAF2E5;
}

.links {
    float: right;
    width: auto;
    padding-right: 10rem;
}