.container {
    position: fixed;
    height: 100%;
    border-left: 2.25rem solid #FB5704;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topText {
    transform: rotate(-90deg) translate(-48%, -270%);
}

.midText {
    transform: rotate(-90deg) translate(-41%, -270%);
}

.icon {
    margin: 0 100% 0 0.5rem;
}

.icons {
    margin-bottom: 0.5rem;
}

.decoration {
    border: solid #000 2px;
    height: 50px;
    width: 0;
    margin-left: 1rem;
}